<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="Login/login.css">
        
    </head>
    <body>

       <div class="container">
        <div class="left-container">
            <div class="login-container">
                <h2>Login</h2>
                <p>How to i get started lorem ipsum dolor at?</p>


                <input class="username"
                name="username"
                type="text"
                placeholder="Username"
                /><br>
                <input class="password"
                name="userpasswrd"
                type="password"
                placeholder="Password"
                /><br><br>

                <button class="login-btn">Login now</button><br/><br/>

                <p><strong>Login</strong> with others</p>

                <button class="google"><img src="imgs/google 1.svg"/> &#160 Login with <strong>Google</strong></button><br>
                <button class="facebook"> <img src="imgs/facebook 1.svg"/> &nbsp; Login with <strong>Facebook</strong></button>


        </div>
        </div>

        <div class="right-container">
            <div class="right-text">
                <p>
                    Very good<br> works are<br> waiting for<br> you Login<br> Now!!!
                </p>

                <div class="thunder">
                    <img src="imgs/thunderbolt 1.svg">
                </div>

                <div class="image"> 
                    <img src="imgs/women with tab 1.svg">
                </div>
            </div>
        </div>
       </div>
            
    
        

    </body>
</html>